In [1]:
%%file us_cities.txt
new york: 8244910
los angeles: 3819702
chicago: 2707120
houston: 2145146
philadelphia: 1536471
phoenix: 1469471
san antonio: 1359758
san diego: 1326179
dallas: 1223229

Writing us_cities.txt

In [7]:
data_file = open('us_cities.txt', 'r')
for line in data_file:
    city, population = line.split(':')         # Tuple unpacking
    city = city.title()                        # Capitalize city names
    population = f'{int(population):,}'        # Add commas to numbers
    print(city.ljust(15) + population)         #15 has to do with spacing
data_file.close()

New York       8,244,910
Los Angeles    3,819,702
Chicago        2,707,120
Houston        2,145,146
Philadelphia   1,536,471
Phoenix        1,469,471
San Antonio    1,359,758
San Diego      1,326,179
Dallas         1,223,229

In [8]:
x_values = [1, 2, 3]  # Some iterable x
for x in x_values:
    print(x * x)

1
4
9

In [9]:
countries = ('Japan', 'Korea', 'China')
cities = ('Tokyo', 'Seoul', 'Beijing')
for country, city in zip(countries, cities):
    print(f'The capital of {country} is {city}')

The capital of Japan is Tokyo
The capital of Korea is Seoul
The capital of China is Beijing

In [10]:
names = ['Tom', 'John']
marks = ['E', 'F']
dict(zip(names, marks))

{'Tom': 'E', 'John': 'F'}

In [11]:
letter_list = ['a', 'b', 'c']
for index, letter in enumerate(letter_list):
    print(f"letter_list[{index}] = '{letter}'")

letter_list[0] = 'a'
letter_list[1] = 'b'
letter_list[2] = 'c'

In [12]:
animals = ['dog', 'cat', 'bird']
plurals = [animal + 's' for animal in animals]
plurals

['dogs', 'cats', 'birds']

In [15]:
range(8)
doubles = [2 * x for x in range(8)]
doubles

[0, 2, 4, 6, 8, 10, 12, 14]

In [16]:
x, y = 1, 2
x < y

True

In [17]:
x > y

False

In [18]:
1 < 2 < 3

True

In [19]:
1 <= 2 <= 3

True

In [20]:
x = 1    # Assignment
x == 2   # Comparison

False

In [21]:
1 != 2

True

In [25]:
1 < 2 and 'f' in 'foo'

True

In [27]:
1 < 2 and 'g' in 'foo'

False

In [28]:
1 < 2 or 'g' in 'foo'

True

In [29]:
not True

False

In [30]:
not not True

True

In [31]:
def f(x):
    if x < 0:
        return 'negative'
    return 'nonnegative'

In [32]:
def f(x):
    """
    This function squares its argument
    """
    return x**2
f?                                         #Gives comment

In [33]:
f??                                     #Gives more info than f?

In [34]:
from scipy.integrate import quad

quad(lambda x: x**3, 0, 2)           #Output second number is error made

(4.0, 4.440892098500626e-14)

In [35]:
def f(x, a=1, b=1):
    return a + b * x

In [36]:
f(2)

3

In [37]:
f(2, a=4, b=5)

14

In [38]:
x_vals=[1,2,3]

In [39]:
y_vals=[1,1,1]

In [40]:
sum([x*y for x,y in zip(x_vals, y_vals)])

6

In [42]:
sum([x%2==0 for x in range(100)])

50

In [56]:
def f(string):
    count=0
    for letter in string:
        if letter==letter.upper() and letter.isalpha():
            count +=1
    return count

In [57]:
f('The Rain In Spain')

4

In [68]:
pairs=((2,5),(4,2), (9,8),(12,10))

In [69]:
sum([x%2==0 and y%2==0 for x,y in pairs])

2

In [71]:
def f(seq_a, seq_b):
    is_subset=True
    for a in seq_a:
        if a not in seq_b:
            is_subset=False
    return is_subset

In [72]:
f([1,2],[1,2,3])

True

In [73]:
f([1,2,3],[1,2])

False